
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>salary</th>
    <th>contact</th>
    <th>role</th>
    <th>Goals</th>
  </tr>
 
  <% @users.each do |f| %>
    <tr>
      <td><%= link_to 'Show', user_path(f) %></td>
      <td><%= link_to 'Edit', edit_user_path(f) %></td>
      <td><%= f.name %></td>
      <td><%= f.salary %></td>
      <td><%= f.contact %></td>
      <td><%= f.role %></td>
      <td>
         <% if not f.goals.empty? %>
          <%= link_to 'goals', user_goals_path(f)%>
         <% else %>
           No Goals..
         <% end %>
      </td>
       
    </tr>
  <% end %>
</table>

