<div ng-controller='anAppController'>
<%= form_for(@user) do |f|%>
 <%= f.label :name %>
 <%= f.text_field :name %>
  <%= f.label :salary %>
 <%= f.text_field :salary %>
  <%= f.label :contact %>

<div ng-model='ng'>
 <%= f.text_field :contact %>
</div>

<%= f.label :role %>

 <select ng-model='an_role'  name="user[role]" id="user_role">
<option  value="e">Engineer</option>
<option  value="m">Manager</option>
<option  value="sm">Super Manager</option></select>

<%= f.label :manager_id %>
 <%= f.select :manager_id, User.where(role: 'm').collect { |p| [ p.name, p.id ] } %>

<%= f.label :super_manager_id %>
 <%= f.select :super_manager_id, User.where(role: 'sm').collect { |p| [ p.name, p.id ] }  %>
 
  <%= f.submit %>
<% end %>
<span ng-hide='notShowToSM'>
 fjdlkafdkjflk
</span>
</div>