<div ng-controller='anAppController' class="app_form">
<%= form_for(@user) do |f|%>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
 <%= f.label :name %>
 <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
<%= f.label :gender %>

 <select  name="user[gender]" class="form-control" id='user_gender'>
<option  value="m">Male</option>
<option  value="f">Female</option>
 </select>
</div>

<div class="form-group">
  <%= f.label :salary %>
 <%= f.text_field :salary, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :contact %>

  <div ng-model='ng'>
   <%= f.text_field :contact, class: "form-control" %>
  </div>
</div>


<div class="form-group">
<%= f.label :role %>

 <select ng-model='an_role'  name="user[role]" id="user_role" class="form-control">
<option  value="e">Engineer</option>
<option  value="m">Manager</option>
<option  value="sm">Super Manager</option></select>
</div>

<div class="form-group">
<%= f.label :manager_id %>
      
        <input type="text" ng-model="manager_list"  class= "form-control" >  
        <select name="comment[manager_id]" class= "form-control">  
            <option ng-repeat="manager in managers | filter:manager_list" value='{{manager.id}}' >    {{manager.name}}
            </option>  
        </select>
</div>

<div class="form-group">
<%= f.label :super_manager_id %>
  
 <%= f.select :super_manager_id, User.where(role: 'sm').collect { |p| [ p.name, p.id ] }  %>
</div>

<div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
</div>
  <%= f.submit 'New User',  class: 'btn btn-primary' %>
<% end %>
</div>