
<% if @user.role == 'm'%>
  
  <h1> List of Engineers </h1>
  <%= render :partial => 'layouts/me', locals: { person: @user.engineers }%>
<% elsif @user.role == 'sm' %>

  <h1> List of Managers </h1>
  <%= render :partial => 'layouts/me', locals: { person: @user.managers }%>
<% elsif @user.role == 'e' %>
 <table class="table">
  <tr>

    <th>Name</th>
    <th>salary</th>
    <th>contact</th>
    <th>role</th>
    <th></th>
    <th></th>
  </tr>
 
    <tr>
      
      <td><%= @user.name %></td>
      <td><%= @user.salary %></td>
      <td><%= @user.contact %></td>
      <td><%= @user.role %></td>
      <td><%= link_to 'Show', user_path(@user) %></td>
            <td>
         <% if not @user.goals.empty? %>
          <%= link_to 'goals', user_goals_path(@user)%>
         <% else %>
           No Goals..
         <% end %>
      </td>
    </tr>
  
</table>

<% end %>



