<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Appraisal</title>
    <%= csrf_meta_tags %>
<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js'></script>
    <%= stylesheet_link_tag    'application' %>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <%= javascript_include_tag 'application' %>

  </head>

  <body>
<nav class="navbar navbar-static " role="navigation" class="color: white">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-1" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      Appraisal System </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu-1">

      <ul class="nav navbar-nav navbar-right">

        <% if member_signed_in? %>
           <li><%= link_to 'Sign Out', destroy_member_session_path %></li>
           <% if Member.find(current_member.id).user.nil? %>
              <li>
               <%= link_to 'Create Role', new_user_path %>
              </li>
            <% else %>
              <%= yield :action_show_user %>
            <% end %>
            <%= yield :goal %>
            <%= yield :comment %>
            <%= yield :delete_select_user %>

        <% else %>
           <li><%= link_to 'Sign Up', new_member_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


       <% if notice %>
          <div class="alert alert-info  alert-dismissable fade in">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons white">X</i></span>
            </button>

          </div>
       <% end %>

       <% if alert %>
          <div class="alert alert-danger  alert-dismissable fade in">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="material-icons white">X</i></span>
          </button>
          </div>
       <% end %>

    <%= yield %>
  </body>
</html>
